*{
  font-family: 'Open Sans';
}

body{
  background: linear-gradient(0deg, rgba(24, 24, 24, 0.5), rgba(24, 24, 24, 0.5)), url(https://i.postimg.cc/wTQ6g4SM/Screenshot-1.png);
}

div.login{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

div.login form{
  max-width: 300px;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(12.4px);
  background: none;
  backdrop-filter: none;
  border: 0;
  height: fit-content;
  padding: 10px 0;
}

div.login form h1{
  text-align: center;
  color: white;
  font-weight: normal;
}

div.login form input{
  height: 33px;
  width: 78%;
  border-radius: 20px;
  border: 0;
  padding: 2px 10px;
}

div.login form button{
  height: 33px;
  width: 58%;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
}

div.login form button:hover{
  background:#091122;
  transition: 1s;
  color: white;
}

div.login form div{
  display: grid;
  justify-items: center;
  gap: 8px;
}

@media only screen and (min-width: 587px){
  div.login form{
      background: rgba(255, 255, 255, 0.14);
      backdrop-filter: blur(12.4px);
      border: 1px solid rgba(255, 255, 255, 0.07);
  }
}