*{
    margin: 0;
    padding: 0;    
}

body{
    background:linear-gradient(0deg, rgba(24, 24, 24, 0.5), rgba(24, 24, 24, 0.5)), url("https://i.postimg.cc/wTQ6g4SM/Screenshot-1.png");
}

.navbar-dark, .navbar[data-bs-theme=dark]{
    background-color: #000814 !important;
}

nav form.d-flex{
    background: white;
    border-radius: 20px;
}

nav form.d-flex input.form-control{
    border: 0;
    background: transparent;
    color: black;
}

nav form.d-flex input.form-control::placeholder{
    color: rgb(122, 122, 122);
}

nav form.d-flex button.btn{
    border: 0;
    background: transparent;
    color: black;
}

nav button.navbar-toggler{
    border: 0;
}

nav div.navbar-collapse ul li a span.rotulo{
    display: none;
}

div.collapse{
    margin-top: -1px;
}

section.gaveta{
    margin-top: 48px;
    padding: 20px 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
} 

.menu-pai {
    background-color: #000814;
    width: 100%;
    color: #f2f2f2;
    height: 8vh;
    text-decoration: none;
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
}

.icones{
    border: none;
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 60px;
    gap: 50px;
}

.buscar{
    border: none;
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buscar input{
    background-color: #000814;
    height: 100%;
    width: 300px;
    border:none;
    color: white;
}

.buscar input :focus{
    background-color: #000814;
    border:none;
    outline: none;
}

.input-buscar{
    border-radius: 50px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: white;
}

.input-buscar i{
    padding: 5px 20px ;
    cursor: pointer;    
}

.user{
    border: none;
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right:60px ;
}

.conteudo-principal{
    color: white;
    height: fit-content;
}

.conteudo-principal h1{
    text-align: center;
}

.janela-modal{
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-items: center;
    justify-content: center;
    z-index: 999;
}

.modal{
    display: block;
    width: 60%;
    height: 50%;
    background-color: rgba(60, 51, 51, 0.518);
    backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
    color: white;
    margin-top: 72px;
}

.fechar{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(62, 26, 26);
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.janela-modal.abrir{
    display: flex;
}

@keyframes abrirmodal {
  from{
    opacity: 0;
    transform: translate3d(0, -20px, -5px);
  }  
  to{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

.abrir .modal{
    animation: abrirmodal 0.5s;
}

@media only screen and (min-width: 992px){
    nav div.navbar-collapse ul li a span.rotulo{
        display: none;
        margin-left: 0;
    }

    section.gaveta{
        display: flex;
        height: 100vh;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .conteudo-principal{
        background-color: #000814;
        width: 50%;
        padding: 40px;
        border-radius: 30px;
        height: fit-content;
    }
}